<% content_for :header do %>
	<!-- Header Left Button -->
	<% if user_signed_in? %>
		<%= link_to "", destroy_user_session_path, :class => "header-icon-logout", :method => "delete", :target => "_self", :data => { :role => "button" } %>
	<% end %>
	<!-- Header Title -->
	<h3>All Posts</h3>
	<!-- Header Right Button -->
	<%= link_to "", search_path, :class => "header-icon-search", :data => { :role => "button", :transition => "slide" } %>
    <%= render "partials/geo_filter" %>
<% end %>



<% content_for :content do %>
    <div id="posts" data-token="<%= @token %>" data-theme="a">
      <% if !@posts.nil? && @posts.length > 0 %>
          <% @posts.each do |post| %>
              <%= render "partials/feed_item", :post => post, :path => @path %>
          <% end %>
      <% end %>
    </div>
<% end %>

<% content_for :footer do %>
	<div data-role="navbar">
		<ul>
			<li><%= link_to "Check-In", checkin_path, :data => { :role => "button", :icon =>"check-in", :iconpos => "top", :transition => "slideup" } %></li>
			<li><%= link_to "Post", new_post_path, :data => { :role => "button", :icon =>"post", :iconpos => "top", :transition => "slideup" } %></li>
			<li><%= link_to "Profile", current_user, :data => { :role => "button", :icon =>"profile", :iconpos => "top", :transition => "slideup" } %></li>
			<li><%= link_to "Settings", "#settingsDialog", :data => { :role => "button", :icon =>"settings", :iconpos => "top", :transition => "slideup" } %></li>
		</ul>
	</div>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag "post/refresh", "post/common", "post/index" %>
<% end %>