<% content_for :header do %>
    <h3>All Posts</h3>
		<% if current_user.organizations.length != 0 %>
			<div id="postAsBar" class="ui-bar status-bar">
				<p id="postAsName"></p>
				<%= link_to "Switch", "#", :id => "postAsSwitch", :class => "ui-btn-right ui-icon-alt", :data => { :role => "button", :mini => "true", :icon => "arrow-d", :iconpos => "right" } %>
				<fieldset data-role="controlgroup" id="organizationPicker">
					<% if @post_as == 'self' %>
						<input type="radio" name="post_as" id="self" value="self" checked="checked">
					<% else %>
						<input type="radio" name="post_as" id="self" value="self">
					<% end %>
					<label for="self"><%= current_user.name %></label>
					<% current_user.organizations.each do |org| %>
						<% if @post_as == org.id.to_s %>
							<input type="radio" name="post_as" id="<%= org.id %>" value="<%= org.id %>" checked="checked">
						<% else %>
							<input type="radio" name="post_as" id="<%= org.id %>" value="<%= org.id %>">
						<% end %>
						<label for="<%= org.id %>" id="<%= org.id %>_label"><%= org.name %></label>
					<% end %>
				<fieldset>
			</div>
		<% end %>
<% end %>

<% content_for :content do %>
    <div id="posts" data-token="<%= @token %>" data-theme="a">
      <% if !@posts.nil? && @posts.length > 0 %>
          <% @posts.each do |post| %>
							<div class="feed-item">
								<div class="feed-header">
									<% if post.organization.nil? %>
										<img src="<%= post.user.profile_pic %>" class="author-img" />
										<h2 class="author-name"><%= post.user.name %></h2>
									<% else %>
										<%= image_tag "sample_neighborhood_logo.png", :class => "author-img" %>
										<h2 class="author-name"><%= post.organization.name %></h2>
									<% end %>
								  <% if !post.city.nil? || !post.zipcode.nil? %>
	                     <p class="post-time"><%= time_ago_in_words(post.created_at) %> ago
	                       near <%= post.city %> <%= post.zipcode %></p>
	                 <% else %>
	                     <p class="post-time"><%= time_ago_in_words(post.created_at) %> ago</p>
	                 <% end %>
									<% if post.status %>
										<div class="status">
											<% if post.text == Post::ALL_CLEAR_STATUS %>
												<%= image_tag "glyphicons/glyphicons_193_circle_ok.png" %>
												<p>Everything is OK</p>
												</div>
												<hr class="green"/>
											<% elsif post.text == Post::NEEDS_ASSISTANCE_STATUS %>
												<%= image_tag "glyphicons/glyphicons_196_circle_exclamation_mark.png" %>
												<p>Help needed as soon as possible</p>
												</div>
												<hr class="yellow"/>
											<% elsif post.text == Post::NEEDS_HELP_STATUS %>
												<%= image_tag "glyphicons/glyphicons_298_hospital.png" %>
												<p>Require immediate assistance</p>
												</div>
												<hr class="red"/>
											<% end %>
									<% end%>
								</div>
								<% if !post.status %>
		              <div class="feed-content ">
											<p class="feed-text">
												<%= post.text %>
											</p>
		              </div>
								<% end %>
             </div>
          <% end %>
			<% end %>
    </div>
<% end %>

<% content_for :dialogs do %>
	<!-- Common form used by all dialogs -->
  <%= form_for @post, :url => {:action => "create"}, :html => {:method => :post} do |f| %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :text %>
		<%= f.hidden_field :status %>
	<% end %>

	<!-- Check-In Dialog Page Starts Here -->
	<div data-role="page" id="checkInDialog" data-theme="e">
		<div data-role="header">
			<h2>Check-In</2>
		</div>
		<div data-role="content">
			<div data-role="navbar">
				<ul>
					<li><%= link_to "I'm OK", "#", :id => "submitAllClear", :data => { :role => "button", :icon =>"good", :iconpos => "top", :theme => "b" } %></li>
					<li><%= link_to "Emergency", "#", :id => "submitNeedHelp", :data => { :role => "button", :icon => "emergency", :theme => "c" }%>
					<li><%= link_to "Need Assistance", "#", :id => "submitNeedAssistance", :data => { :role => "button", :icon =>"assistance-needed", :iconpos => "top", :theme => "d" } %></li>
				</ul>
			</div>
	  </div>
	</div>

	<!-- Post Dialog Page Starts Here -->
	<div data-role="page" id="newPostDialog" data-theme="e">
		<div data-role="header" class="ui-icon-alt">
			<h2>Add Post</h2>
		</div>
		<div data-role="content">
      <%= text_area_tag "new_post_text", "", :placeholder => "What's happening?" %>
			<div data-role="navbar">
				<ul>
					<li><%= link_to "Attach Picture", "#", :data => { :role => "button", :icon =>"picture", :iconpos => "top" } %></li>
					<li><%= link_to "Attach Link", "#", :data => { :role => "button", :icon =>"link", :iconpos => "top" } %></li>
				</ul>
			</div>
		  <%= link_to "Post", "#", :id => "submitNewPost", :data => { :role => "button", :theme => "b" } %></li>
	  </div>
	</div>
	
	<!-- Profile Dialog Page Starts Here -->
	<div data-role="page" id="profileDialog" data-theme="e">
		<div data-role="header">
			<h2>My Profile</2>
		</div>
		<div data-role="content">
			Filler for now
	  </div>
	</div>
	
	<!-- Settings Dialog Page Starts Here -->
	<div data-role="page" id="settingsDialog" data-theme="e">
		<div data-role="header">
			<h2>Settings</2>
		</div>
		<div data-role="content">
			Filler for now
	  </div>
	</div>
<% end %>

<% content_for :scripts do %>
    <script id="postTemplate" type="text/x-jsrender">
      <div class="feed-item">
        <a class="feed-top">
          <img src="{{>creator_pic}}" class="feed-user-image">

          <div class="feed-heading">
            <h2 class="feed-name">
              {{>creator_name}}
            </h2>

            <p class="feed-time">
              {{if city || zipcode}}
              <abbr class="timeago" title="{{>updated_at}}">{{>updated_at}}</abbr> near {{>city}} {{>zipcode}}
              {{else}}
              <abbr class="timeago" title="{{>updated_at}}">{{>updated_at}}</abbr>
              {{/if}}
            </p>
          </div>
        </a>

        <div>
          <p class="feed-text">
            {{>text}}
          </p>
        </div>
      </div>
    </script>

		<script type="text/javascript">

		</script>
    <%= javascript_include_tag 'post/post' %>
<% end %>