<%= content_for :content do %>
<div data-role="page">
  <div data-theme="b" data-role="header" data-nobackbtn="true">
    <h3>SSN</h3>
    <a href="needs.html.erb" class="ui-btn-right" data-icon="grid" data-theme="b">Needs</a>
  </div>
  <div data-role="content" class="feed-container">
    <div class="feed-item">
		<%= form_for @post, :url => { :action => "create" }, :html => { :method => :post } do |f| %>
			<%= f.text_area :text, :placeholder => "Enter new posts here"%>
			<%= f.submit "Post"%>
		<% end %>
	</div>
  
    <% unless @posts.nil? %>
        <% @posts.each do |post| %>
            <div class="feed-item">
              <a class="feed-top" href="jamesProfile.html.erb">
                <img src="<%= post.user.profile_pic %>" class="feed-user-image">

                <div class="feed-heading">
                  <h2 class="feed-name">
                    <% if post.user.name %>
                        <%= post.user.name %>
                    <% else %>
                        Anonymous
                    <% end %>
                  </h2>

                  <p class="feed-time">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
                </div>
              </a>

              <div>
                <p class="feed-text">
                  <%= post.text %>
                </p>
              </div>
            </div>
        <% end %>
    <% else %>
        No posts yet.
    <% end %>
  </div>
</div>
<% end %>
