<% content_for :header do %>
    <%= link_to "Sign Out", destroy_user_session_path, :method => "delete", :target => '_self', :class => "ui-btn-left" %>
    <h3>All Posts</h3>
    <!--Commenting out for the demo this week, let's not show anything that doesn't work - BB-->
    <!--a href="needs.html.erb" class="ui-btn-right" data-icon="grid" data-theme="c">Needs</a-->
<% end %>
<% content_for :content do %>
    <div class="feed-item">
      <%= form_for @post, :url => {:action => "create"}, :html => {:method => :post} do |f| %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
          <%= f.text_area :text, :placeholder => "Enter new posts here" %>
          <%= f.submit "Post", :id=>"submit-post" %>
      <% end %>
    </div>
    <div id="posts" data-token="<%= @token %>" >
      <% if !@posts.nil? && @posts.length > 0 %>
          <% @posts.each do |post| %>
              <div class="feed-item">
                <a class="feed-top" href="jamesProfile.html.erb">
                  <img src="<%= post.user.profile_pic %>" class="feed-user-image">

                  <div class="feed-heading">
                    <h2 class="feed-name">
                      <% if post.user.name %>
                          <%= post.user.name %>
                      <% else %>
                          Anonymous
                      <% end %>
                    </h2>

                    <p class="feed-time">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
                  </div>
                </a>

                <div>
                  <p class="feed-text">
                    <%= post.text %>
                  </p>
                </div>
              </div>
          <% end %>
      <% else %>
          <div class="feed-item">
            No posts yet.
          </div>
      <% end %>
    </div>

<% end %>

<% content_for :scripts do %>
    <script id="postTemplate" type="text/x-jsrender">
      <div class="feed-item">
        <a class="feed-top">
          <img src="{{>creator_pic}}" class="feed-user-image">

          <div class="feed-heading">
            <h2 class="feed-name">
              {{>creator_name}}
            </h2>

            <p class="feed-time">Posted
              <abbr class="timeago" title="{{>updated_at}}">{{>updated_at}}</abbr>
            </p>
          </div>
        </a>

        <div>
          <p class="feed-text">
            {{>text}}
          </p>
        </div>
      </div>
    </script>

    <%= javascript_include_tag 'post/post' %>
<% end %>



