<% content_for :header do %>
	<%= link_to "", posts_path, :class => "header-icon-close", :data => { :role => "button", :transition => "slidedown" } %>	
  <h3>Organization Profile</h3>	
<% end %>

<% content_for :content do %>

	<div class="feed-item">
		<div class="feed-header">
					<img src="<%= @path %><%= @organization.profile_pic %>" class="author-img"/>
					<h2 class="profile-name"><%= @organization.name %></h2>
					
				<div class="profile-container" data-role="navbar">
					<ul>
						<li><%= link_to "Posts", organizations_posts_path, :remote => true, :data => {:role => "button", :icon => "posts", :iconpos => "top"}, :class => 'postsButton ui-btn-active', :id => @organization.id %></li>
						<li><%= link_to "Followers", organizations_followers_path, :remote => true, :data => {:role => "button", :icon => "friends", :iconpos => "top"}, :class => 'friendsButton', :id => @organization.id %></li>
					</ul>
			</div>
			
		</div>
	</div>

	<div class="organizationData" data-token="<%= @token %>" data-theme="a">
			<% if !@posts.nil? && @posts.length > 0 %>
				<% @posts.each do |post| %>
					<%= render "partials/feed_item", :post => post, :path => @path %>
				<% end %>
		<% end %>
	</div>
<% end %>

<%= content_for :scripts do %>
	<script type="text/javascript">
		$(document).on('pageshow', function() {
			resetUserOrg();
			hide_header_footer();
		});	
	</script>
<% end %>

