<%= content_for :header do %>
  <h2>Palo Alto SSN - Create Account</h2>
<% end %>
<%= content_for :content do %>
  <p>We've already started creating your SSN account by importing your Facebook information.</p><p>Please choose a password. Note that this should <b>NOT</b> be your Facebook password.</p>
  <%= form_for @user, :url => { :action => "create_account" } do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
      <h2>Please fix the following issues to create your account:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <br />
    <div>
      <%= f.label :email %>:&nbsp;<b><%= @user.email %></b>
    </div>
    <br />
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Create Account" %>
  <% end %>
<% end %>
