<% content_for :page do %>
		<div data-role="page" data-theme="a" id="deviseNew">
<% end %>

<%= content_for :content do %>
	<h1>Survivable Social Network</h1>
	<h2 class="login-header">Already Registered</h2>
	<div class="login"> 

		<p>Using Your Local SSN Account</p>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :data => { :ajax => 'false' }}) do |f| %>
		    <div data-role="fieldcontain" class="ui-hide-label">
		      <%= f.label :email %>
		      <%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>
		    </div>
		    <div data-role="fieldcontain" class="ui-hide-label">
		      <%= f.label :password %>
		      <%= f.password_field :password, :placeholder => "Password" %>
		    </div>
		    <% if devise_mapping.rememberable? -%>
					<div data-role="fieldcontain" class="ui-hide-label">
					  <input type="checkbox" name="user[remember_me]" id="user_remember_me" value="1"/>
					  <label for="user_remember_me">Keep me signed in</label>
					</div>
		    <% end -%>
		    <%= f.submit "Sign in", :id => 'loginFormSubmit', :data => { :role => 'button', :theme => 'b' }%>
		<% end %>
	</div>
	<h2 class="login-header">New User</h2>
	<div class="login">

        <%= link_to new_user_registration_path, :class => 'facebook-btn', :rel => 'external', :data => { :role => 'button', :theme => 'b' } do %>
            <span class="signup-without-facebook"></span>
			<p>Create new account</p>
		<% end %>
	</div>
<% end %>
